
@{
    ViewBag.Title = "RequestSuccesful";
    Layout = null;
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<script defer data-site="YOUR_DOMAIN_HERE" src="https://api.nepcha.com/js/nepcha-analytics.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/maps.js"></script>
<script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<h2>Request Succesful</h2>
<a href="/" class="">Back</a>
<script src="@Url.Content("~/Scripts/js/core/bbootstrap.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/plugins/chartjs.min.js")"></script>

@Scripts.Render("~/bundles/jquery")

